footer {
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    color: whitesmoke;
    position:relative;
}

footer .container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 20px 10px 20px;
    flex-wrap: wrap;
}

footer .container>div {
    margin: 5px 10px;
}
footer .container div h5 {
    text-transform: capitalize;
    color: var(--secondary-color);
    margin: 10px auto;
}

footer .container div ul {
    list-style: none;
    text-align: center;
}

footer .container div ul i {
    font-size: 1rem;
    transition: 0.6s;
    color: whitesmoke;
}

footer .container div ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: capitalize;
    font-size:0.8rem;
    transition: 0.3s;
}

footer .copyrts p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: lighter;
    border-top: none;
    border-bottom: none;
    padding-bottom:5px;
    color: var(--secondary-color);
}

.social a {
    font-size:1.3rem !important;
    display:block;margin:4px
}
footer .fb:hover {
    color: #1877F2
}

footer .x:hover {
    color: black
}

footer .wb:hover {
    color: #25D366;
}

footer .icon {
    color: #9b9b9b2b;
      position: absolute;
      font-size: 13rem;
    transform:rotate(10deg)
}
footer .icon:nth-child(2){
    font-size:5rem;
    right:40%;
    transform:rotate(-14deg)
}
footer .icon:nth-child(3){
    font-size:2rem;
    right:20%;
    transform:rotate(-20deg)
}
footer .icon:nth-child(4){
    font-size:8rem;
    right:4%;
    top:20%;
    transform:rotate(44deg)
}

